<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of book comments in library</title>
</head>
<body>
<div>
  <div>
    <p>You can add new book comment with button
    <form action="/book-comment" th:action="@{/book-comment}">
      <input hidden="hidden" name="actionMode" th:value="CREATE"/>
      <input type="submit" value="Create book card"/>
    </form>
    or return to <a href="/" th:href="@{/}">Return to index</a>
    </p>
  </div>
  <span th:if="${message!=null}" th:text="${message}">successful message</span>
  <span th:if="${error!=null}" th:text="${error}">error message</span>
  <div><p>Following book comments found in our library:</p>
    <table border="1">
      <thead>
      <tr>
        <th>Id</th>
        <th>Text</th>
        <th>Created</th>
        <th>Book title</th>
        <th>View Card</th>
        <th>Modify Card</th>
        <th>Delete Card</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${#lists.isEmpty(bookComments)}">
        <td colspan="7">No Records found!</td>
      </tr>
      <tr th:each="bookComment: ${bookComments}">
        <td th:text="${bookComment.id}"/>
        <td th:text="${bookComment.text}"/>
        <td th:text="${bookComment.created}"/>
        <td th:text="${bookComment.book.title}"/>
        <td>
          <form action="/book-comment" th:action="@{/book-comment}">
            <input hidden="hidden" name="id" th:value="${bookComment.id}"/>
            <input hidden="hidden" name="actionMode" th:value="READ"/>
            <input type="submit" value="Open book comment card"/>
          </form>
        </td>
        <td>
          <form action="/book-comment" th:action="@{/book-comment}">
            <input hidden="hidden" name="id" th:value="${bookComment.id}"/>
            <input hidden="hidden" name="actionMode" th:value="UPDATE"/>
            <input type="submit" value="Modify book comment card"/>
          </form>
        </td>
        <td>
          <form action="/book-comments" th:action="@{/book-comments/delete}" th:method="post">
            <input hidden="hidden" name="id" th:value="${bookComment.id}"/>
            <input hidden="hidden" name="actionMode" th:value="DELETE"/>
            <input type="submit" value="Delete book comment Card"/>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>