<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of books in library</title>
</head>
<body>
<div>
  <div>
    <p>You can add new book with button
    <form action="/book" th:action="@{/book}">
      <input hidden="hidden" name="actionMode" th:value="CREATE"/>
      <input type="submit" value="Create book card"/>
    </form>
    or return to <a href="/" th:href="@{/}">Return to index</a>
    </p>
  </div>
  <span th:if="${message!=null}" th:text="${message}">successful message</span>
  <span th:if="${error!=null}" th:text="${error}">error message</span>
  <div><p>Following books found in our library:</p>
    <table border="1">
      <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Written</th>
        <th>Genre</th>
        <th>View Card</th>
        <th>Modify Card</th>
        <th>Delete Card</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${#lists.isEmpty(books)}">
        <td colspan="8">No Records found!</td>
      </tr>
      <tr th:each="book: ${books}">
        <td th:text="${book.id}"/>
        <td th:text="${book.title}"/>
        <td th:text="${book.isbn}"/>
        <td th:text="${book.author.surname}+' '+${book.author.name}+' '+${book.author.patronymic}"/>
        <td th:text="${book.genre.name}"/>
        <td>
          <form action="/books" th:action="@{/book}">
            <input hidden="hidden" name="id" th:value="${book.id}"/>
            <input hidden="hidden" name="actionMode" th:value="READ"/>
            <input type="submit" value="Open book card"/>
          </form>
        </td>
        <td>
          <form action="/book" th:action="@{/book}">
            <input hidden="hidden" name="id" th:value="${book.id}"/>
            <input hidden="hidden" name="actionMode" th:value="UPDATE"/>
            <input type="submit" value="Modify book card"/>
          </form>
        </td>
        <td>
          <form action="/books" th:action="@{/books/delete}" th:method="post">
            <input hidden="hidden" name="id" th:value="${book.id}"/>
            <input hidden="hidden" name="actionMode" th:value="DELETE"/>
            <input type="submit" value="Delete book Card"/>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>