<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Library web application</title>
</head>
<body>
<h1>Library web application</h1>
We have:
<ul>
  <li><a href="/authors" th:href="@{/authors}">List of authors</a></li>
  <li><a href="/genres" th:href="@{/genres}">List of genres</a></li>
  <li><a href="/books" th:href="@{/books}">List of books</a></li>
  <li><a href="/books" th:href="@{/book-comments}">List of book comments</a></li>
</ul>
</body>
</html>